# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dblab3\prophet-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
